body {
    font-family: 'Arial', Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

.menu-toggle {
    display: none;
}


/* Menu */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C7A249;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
}

.nav-bar .logo img {
    height: 50px;
}

/* lista de links */
.list-nav {
    display: flex;
    gap: 20px;
    list-style: none;
}

.list-nav li {
    position: relative;
}

.list-nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    font-weight: bold;
    transition: background 0.3s ease;
}

.list-nav a:hover {
    background: #CFCD7A;
    border-radius: 5px;
}



.text-header {
    color: #FFFFFF;
    font-size: 24px; 
}

.text-header strong {
    color: #ff66c4;
}

.text-header h3 {
    font-size: 19px;
    margin-bottom: 2px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 3px;
    color: #FFFFFF;
}


/* Seções */
section {
    padding: 80px 20px;
}



section h2 {
    font-size: 32px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

section h3 {
    color: #000;
    text-align: center;
}

section p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    color: #000;
}


.container-escuro h3 {
    color: #FFFFFF; 
    z-index: 2;
}


/* Conteúdo principal */
.p1 {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}


/* Responsividade */
@media (max-width: 768px) {
    .nav-bar {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle img {
        width: 30px;
        height: 30px;
    }

    .list-nav {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #C7A249;
        padding: 15px;
        border-radius: 8px;
    }

    .list-nav.active {
        display: flex;
    }

    .list-nav li:hover .submenu {
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    .text-header h1 {
        font-size: 40px;
    }

    .imagem-container {
        flex-direction: column;
        text-align: center;
    }

    .imagem-container p {
        text-align: justify;
    }

     .pastoral, .pastoral.reverse {
        flex-direction: column;
        text-align: center;
    }

    .pastoral-text {
        text-align: center;
    }

}

/* ---------- GALERIA / CARROSSEL ---------- */

.carrossel-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    justify-content: center;
}

.carrossel-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}



/* ---------- EVENTOS ---------- */

.eventos-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.evento-card {
    background: white;
    width: 260px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.evento-card img {
    width: 100%;
    border-radius: 10px;
}



/* ---------- GRUPOS / DIFERENCIAIS ---------- */

.grupos-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.grupo-card {
    background: white;
    width: 260px;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}